@font-face {
  font-family: 'Noto Serif';
  font-weight: 400;
  font-style: normal;
  src: url('Noto-Serif-regular/Noto-Serif-regular.eot');
  src: url('Noto-Serif-regular/Noto-Serif-regular.eot?#iefix') format('embedded-opentype'),
       local('Noto Serif'),
       local('Noto-Serif-regular'),
       url('Noto-Serif-regular/Noto-Serif-regular.woff2') format('woff2'),
       url('Noto-Serif-regular/Noto-Serif-regular.woff') format('woff'),
       url('Noto-Serif-regular/Noto-Serif-regular.ttf') format('truetype'),
       url('Noto-Serif-regular/Noto-Serif-regular.svg#NotoSerif') format('svg');
}